<a href="https://colab.research.google.com/github/saiavinashpasumarthy/innomatics/blob/main/Day2%20Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Unique words in a sentence

In [ ]:
sentence= input("Enter sentence:")
words= sentence.split()
unique_words= set(words)
print("unique words:",unique_words)
print("count of unique words:",len(unique_words))

Enter sentence:this is unique
unique words: {'is', 'this', 'unique'}
count of unique words: 3

2. Highest salary from Employee data

In [ ]:
employees = {}
n = int(input("Enter number of employees: "))
for i in range(n):
    name = input("Enter employee name: ")
    salary = float(input("Enter salary: "))
    employees[name] = salary
highest_employee = max(employees, key=employees.get)
print("\nEmployee Records:", employees)
print("Employee with highest salary:", highest_employee)
print("Highest salary:", employees[highest_employee])

Enter number of employees: 3
Enter employee name: ravi
Enter salary: 30000
Enter employee name: anitha
Enter salary: 56000
Enter employee name: sneha
Enter salary: 61000

Employee Records: {'ravi': 30000.0, 'anitha': 56000.0, 'sneha': 61000.0}
Employee with highest salary: sneha
Highest salary: 61000.0

3.Maximum and Minimum Values

In [ ]:
n = int(input("Enter number of elements: "))
numbers = []
for i in range(n):
    num = int(input("Enter number: "))
    numbers.append(num)
max = numbers[0]
min = numbers[0]
for num in numbers:
    if num > max:
        max = num
    if num < min:
        min = num
print("\nList:", numbers)
print("Max:", max)
print("Min:", min)

Enter number of elements: 5
Enter number: 45
Enter number: 22
Enter number: 89
Enter number: 10
Enter number: 66

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

4. Count products above a price threshold

In [ ]:
n = int(input("Enter number of products: "))
prices = []
for i in range(n):
    price = int(input("Enter product price: "))
    prices.append(price)
count = 0
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Enter number of products: 5
Enter product price: 450
Enter product price: 1200
Enter product price: 899
Enter product price: 1500
Enter product price: 300
Products above 1000: 2

5.Calculate Attendance percentage

In [26]:
attendance =["P","P","A","P","P"]
present_ct=0
for day in attendance:
  if day== "P":
    present_ct+=1
total_days= len(attendance)
percentage= (present_ct/total_days)*100
print("attendance percentage=",percentage)

attendance percentage= 80.0

6.Remove duplicate numbers

In [27]:
phone_numbers=[9876543210,9123456789,9876543210]
unique= set(phone_numbers)
print("unique phone numbers:",unique)

unique phone numbers: {9876543210, 9123456789}

7.Count character frequency

In [31]:
text = input("Enter a string: ")
char_count = {}
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1
print("Character counts:", char_count)

Enter a string: avinash
Character counts: {'a': 2, 'v': 1, 'i': 1, 'n': 1, 's': 1, 'h': 1}

8. Convert list into tuple

In [35]:
numlist=[10,20,30,40,50,60]
numbers=tuple(numlist)
print("List:",numlist)
print("tuple",numbers)

List: [10, 20, 30, 40, 50, 60]
tuple (10, 20, 30, 40, 50, 60)

9.check if a key exists in a dictionary

In [47]:
employees = {}
n = int(input("Enter number of employees: "))
for i in range(n):
    name = input("Enter employee name: ")
    salary = float(input("Enter salary: "))
    employees[name] = salary
key=input("enter employee name to search ")
if key in employees:
  print("employee exist")
else:
  print("employee doesn't exist")

Enter number of employees: 3
Enter employee name: ravi
Enter salary: 21000
Enter employee name: krish
Enter salary: 31500
Enter employee name: avinash
Enter salary: 45000
enter employee name to search avinash
employee exist

Calculate Average marks

In [48]:
n = int(input("Enter number of subjects: "))
marks = []
for i in range(n):
    mark = float(input("Enter marks: "))
    marks.append(mark)
average = sum(marks) / len(marks)
print("Average Marks:", average)

Enter number of subjects: 6
Enter marks: 75
Enter marks: 80
Enter marks: 99
Enter marks: 63
Enter marks: 97
Enter marks: 96
Average Marks: 85.0